click==6.6
Flask==0.12
future==0.16.0
gevent==1.2.1
greenlet==0.4.11
gunicorn==19.6.0
heroku==0.1.4
itsdangerous==0.24
Jinja2==2.8.1
MarkupSafe==0.23
ouimeaux==0.8
pygame==1.9.2
python-dateutil==1.5
PyYAML==3.12
requests==2.12.4
six==1.10.0
Werkzeug==0.11.15
wit==4.2.0
